$dark-blue: #243e8b;
$light-blue: #4d70d9;
$yellow: #ffb81c;
$gold: #cdb87e;
$special-color: #8fbc8b;
$divisor-color: #000000;
$red: #fee2e2;
$orange: #ffedd5;
$amber: #fef3c7;
$yellow: #fef9c3;
$cyan: #cffafe;
$lime: #ecfccb;
$green: #dcfce7;
$emerald: #d1fae5;
$teal: #ccfbf1;
$blue: #dbeafe;
$violet: #ede9fe;
$fuschia: #fae8ff;
$rose: #ffe4e6;
$white: #ffffff;
$black: #000000;
